html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; zoom: 1; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
html { min-width: 960px; }
html { background-image: none; background-color: transparent; }
#imPage { padding-top: 53px; margin-top: 0px; margin-bottom: 0px; min-width: 960px; }
#imHeaderBg { height: 379px; background-image: url('headerbg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 326px; background-image: url('header.png'); background-position: right bottom; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imHeaderObjects { position: relative; height: 326px; }
#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
#imMnMn { position: relative; height: 43px; padding: 5px 0px 5px 4px; background-image: url('btn-bg.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
#imMnMn > ul { text-align: center; }
#imMnMn li { display: inline; }
#imMnMnGraphics { display: none; }
#imContent { min-height: 380px; padding: 5px 0 5px 0; }
#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: none; background-color: #FFFFFF; }
#imFooterBg { height: 100px; background-image: none; background-color: #FF8000; }
#imFooter { margin-left: auto; margin-right: auto; height: 100px; background-image: none; background-color: transparent; }
#imFooterObjects { position: relative; height: 100px; }
#imFooPad { height: 380px; }
#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
#imMnMn { width: 956px; }
#imContentGraphics { width: 960px; }
